mixin message(text, time, isMine, isRead)
    if isMine
        .my-message
            .message__text
                +text(text, 12, 500, 'black')
            .message__time
                +text(time, 9, 500, 'dark-grey')
    else
        .message
            .message__text
                +text(text, 12, 500, 'black')
            if isRead
                .message__isRead
            .message__time
                +text(time, 9, 500, 'dark-grey')