@use '../../variables';

.go_back {
  height: 100%;
  position: absolute;
  width: 64px;
}

.go_back__button_wrapper {
  align-items: center;
  background-color: variables.$light-grey;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.go_back__button {
  background-color: variables.$blue;
  border-radius: 28px;
  color: variables.$white;
  height: 28px;
  transform: scale(-1, 1);
  width: 28px;
}

.go_back__button > .text {
  background-color: transparent;
}