@use '../../variables';

.chat {
  display: flex;
  height: 100%;
  width: 100%;
}

.chat__left {
  background: variables.$light-grey;
  height: 100%;
  padding: 10px;
  width: 17%;
}

.chat__left__toolbar__profile_link > a {
  color: variables.$dark-grey;
  font-size: 12px;
  font-weight: 500;
}

.chat__right {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 20px;
  width: 83%;
}

.chat__left > *, .chat__right > * {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.chat__left__toolbar {
  margin-bottom: 14px;
}

.chat__left__toolbar__profile_link {
  align-self: flex-end;
  margin-bottom: 18px;
}

.chat__right__messages__date {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.chat__right__messages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.chat__right__chosen_chat {
  align-items: center;
  color: variables.$black;
  display: flex;
  flex-direction: row;
  height: 54px;
  width: 100%;
}

.chat__right__chosen_chat__name {
  font-size: 13px;
  font-weight: 600;
}

.chat__right__chosen_chat__actions {
  font-size: 20px;
  font-weight: 700;
}

.chat__right__messages__date {
  color: variables.$dark-grey;
  font-size: 12px;
  font-weight: 500;
}

.chat__right__chosen_chat__pfp {
  background-color: variables.$mid-grey;
  border-radius: 100%;
  height: 34px;
  margin-right: 10px;
  width: 34px;
}

.chat__right__chosen_chat__actions {
  margin-left: auto;
}

.chat__right__message_toolbar {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  margin-top: auto;
  padding: 10px 0;
}

.chat__right__message_toolbar__message_input {
  background-color: variables.$mid-grey;
  border-radius: 30px;
  flex: 1;
  height: 32px;
}

.chat__right__message_toolbar__message_input > input {
  color: variables.$dark-grey;
  font-size: 12px;
  font-weight: 500;
  margin-left: 20px;
}

.chat__right__message_toolbar__button-attach {
  background-color: variables.$white;
  height: 32px;
  width: 32px;
}

.chat__right__message_toolbar__button-send {
  background-color: variables.$blue;
  border-radius: 32px;
  height: 28px;
  width: 28px;

  & > button {
    color: variables.$white;
  }

}

.chat__left__toolbar__searchbar {
  background: variables.$mid-grey;
  border-radius: 5px;
  height: 32px;
  width: 100%;
}

.chat__left__toolbar__searchbar > input {
  color: variables.$dark-grey;
  font-size: 12px;
  font-weight: 500;
  margin-left: 20px;
}

