extends ../global

include components/profile_data_entry/profile_data_entry
include components/profile_actions_entry/profile_actions_entry

block content
    link(rel='stylesheet' href='profile.scss')
    link(rel='stylesheet' href='components/profile_data_entry/profile_data_entry.scss')
    link(rel='stylesheet' href='components/profile_actions_entry/profile_actions_entry.scss')
    .profile__wrapper
        +go_back
        .profile
            .profile__pfp
            h1.profile__title
                +text('Иван', 16, 600, 'black')
            .profile__data
                +profile_data_entry('Почта', 'pochta@yandex.ru')
                +profile_data_entry('Логин', 'ivanivanov')
                +profile_data_entry('Имя', 'Иван')
                +profile_data_entry('Фамилия', 'Иванов')
                +profile_data_entry('Имя в чате', 'Иван')
                +profile_data_entry('Телефон', '+7 (909) 967 30 30')
            .profile__actions
                +profile_actions_entry('Изменить данные', 'dummy', 'blue')
                +profile_actions_entry('Изменить пароль', 'dummy', 'blue')
                +profile_actions_entry('Выйти', 'dummy', 'red')
