@use '../../variables';

.profile__wrapper {
  height: 100%;
  width: 100%;
}

.profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 60px;
  height: 100%;
  justify-content: center;
  margin: 0 auto;
  width: 510px;
}

.profile_avatar__wrapper {
  width: 130px;
  height: 130px;
}

.profile_avatar {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.profile__data, .profile__actions {
  width: 100%;
}