extends ../global

block content
    link(rel='stylesheet' href='index.scss')
    .index
        .index__pages
            h1.index__pages__title
                +text('Страницы', 20, 600, 'black')
            ul.index__pages__list
                +link('Чат', '../chat/chat.pug', 12, 500, 'blue')
                +link('Ошибка 404', '../error/error-404.pug', 12, 500, 'blue')
                +link('Ошибка 500', '../error/error-500.pug', 12, 500, 'blue')
                +link('Профиль', '../profile/profile.pug', 12, 500, 'blue')
                +link('Вход', '../signin/signin.pug', 12, 500, 'blue')
                +link('Регистрация', '../signup/signup.pug', 12, 500, 'blue')