@use '../global';

.index {
  width: 100%;
  height: 100%;
}

.index__pages {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.index__pages__title {
  margin-bottom: 20px;
}

.index__pages__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}