include ../components/text/text
include ../components/button/button
include ../components/hr/hr
include ../components/link/link
include ../components/field/field
include ../components/modal/modal
include ../components/go_back/go_back

doctype html
html
    head
        link(rel="preconnect" href="https://fonts.googleapis.com")
        link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
        link(href="https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700&display=swap" rel="stylesheet")
        link(rel='stylesheet' href='../../components/text/text.scss')
        link(rel='stylesheet' href='../../components/button/button.scss')
        link(rel='stylesheet' href='../../components/hr/hr.scss')
        link(rel='stylesheet' href='../../components/link/link.scss')
        link(rel='stylesheet' href='../../components/field/field.scss')
        link(rel='stylesheet' href='../../components/modal/modal.scss')
        link(rel='stylesheet' href='../../components/go_back/go_back.scss')
        link(rel='stylesheet' href='../global.scss')
    body
        block content