@use '../global';

.signin {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signin__title {
  margin-bottom: 40px;
}

.signin__fields {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 159px;
}

.signin__submit {
  margin-bottom: 14px;
}