@use '../../../../variables';

.message {
  border-radius: 0 15px 15px;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  font-weight: 500;
  max-width: 40%;
  padding: 11px;
}

.my-message {
  @extend .message;
  align-self: flex-end;
}

.friend-message {
  @extend .message;
  align-self: flex-start;
}

.my-text-message {
  @extend .my-message;
  background-color: variables.$light-blue;
}

.friend-text-message {
  @extend .friend-message;
  background-color: variables.$light-grey;
}

.my-image-message {
  @extend .my-message;
  border: 1px solid #EAEAEA;
  border-radius: 12px;
}

.friend-image-message {
  @extend .friend-message;
  border: 1px solid #EAEAEA;
  border-radius: 12px;
}

.message__content {
  color: variables.$black;
}

.message__status {
  align-self: flex-end;
  color: variables.$blue;
  font-size: 6px;
  font-weight: 500;
}

.message__time {
  align-self: flex-end;
  font-size: 9px;
  font-weight: 500;
}

.my-message__time {
  @extend .message__time;
  color: variables.$blue;
}

.friend-text-message__time {
  @extend .message__time;
  color: variables.$dark-grey;
}

.friend-image-message__time {
  @extend .message__time;
  align-items: center;
  background-color: variables.$dark-grey;
  border-radius: 30px;
  color: variables.$white;
  display: flex;
  height: 13px;
  justify-content: center;
  width: 37px;
}