@use '../../../../pages/global';

.chat_preview {
  width: 100%;
  height: 67px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chat_preview__left {
  margin-right: 10px;
}

.chat_preview__center {
  flex: 1;
}

.chat_preview__right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.chat_preview__left__pfp {
  width: 47px;
  height: 47px;
  background: global.$mid-grey;
  border-radius: 100%;
}

.chat_preview__center__name {
  margin-bottom: 4px;
}

.chat_preview__right__date {
  margin-bottom: 14px;
}

.chat_preview__right__msg_amt {
  width: 20px;
  height: 20px;
  background-color: global.$blue;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
}