extends ../global

block content
    link(rel='stylesheet' href='signup.scss')
    +modal
        .signup
            .signup__title
                +text('Регистрация', 20, 500, 'black')
            .signup__fields
                +field('Почта', 'email')
                +field('Логин', 'text')
                +field('Имя', 'text')
                +field('Фамилия', 'text')
                +field('Телефон', 'tel')
                +field('Пароль', 'password')
                +field('Пароль (ещё раз)', 'password')
            .signup__submit
                +button(280, 37, 'Зарегистрироваться', 'blue', 8)
            .signup__signup_link
                +link('Нет аккаунта?', 'dummy', 11, 500, 'blue')