@use '../global';

.error {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.error__code {
  margin-bottom: 20px;
}

.error__description {
  margin-bottom: 69px;
}